﻿@model EWC_NSAA.Models.HECCommunityEvents

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Activity</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">

                        <h4> <b> Business Name</b> </h4>

                        @Html.EditorFor(model => model.HECCommunityBusinessName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Name" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityBusinessName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">

                        <h4> <b>NPI #</b> </h4>

                        @Html.EditorFor(model => model.HECCommunityNPI, new { htmlAttributes = new { @class = "form-control", @placeholder = "NPI" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityNPI, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Provider’s Name</b> </h4>
                        @Html.EditorFor(model => model.HECCommunityProviderFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityProviderFirstName, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.EditorFor(model => model.HECCommunityProviderLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityProviderLastName, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                       
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> EWC Provider?</b> </h4>
                        <div class="form-group form-inline">
                            <div class="form-group">

                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                                <span class="content">Yes</span>

                            </div> &nbsp;
                            <div class="form-group">

                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                                <span class="content">No</span>

                            </div>&nbsp;
                            <div class="form-group">

                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                                <span class="content">Unknown</span>

                            </div>
                            </div>
                            

                        </div>

                </div>
               
                <div class="col-lg-2">
                    <div class="form-group">

                    </div>

                </div>

            </div>

            </div>
        </div>

            
            }
