﻿
@model EWC_NSAA.ViewModels.PartnersSearchViewModel

<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #009688;
            color: white;
               font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
<div class="panel panel-primary" style="border:none;     margin-top: 15px;  margin-bottom: 15px;">
    <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
        Find EWC Provider

    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-5">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" >
                    <span class="content"> &nbsp; Provider NPI to Search for Provider</span>

                </div>
               

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
           
        </div>

        <div class="row">

            <div class="col-md-5">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" >
                    <span class="content"> &nbsp; Enter whole or part of Business Name</span>

                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                    <span class="content"> &nbsp; Enter whole or part of Business Address</span>

                </div>


            </div> 
            </div>
        <div class="row container" style="margin-left:10px;">
            <div class="col-md-5">

                <div class="form-group">
                    <input type="checkbox" name="preferenceday3" id="2" autocomplete="off"> &nbsp; Address
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <input type="checkbox" name="preferenceday3" id="2" autocomplete="off"> &nbsp; City
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <input type="checkbox" name="preferenceday3" id="3" autocomplete="off"> &nbsp; Zip Code
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>

        </div>
        

    </div>

    <div class="panel-footer col-md-12">
        <div class="row">
            <div class="form-group" style="width:100%">

                <div class="pull-right">
                    <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-refresh"></span> &nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp; </a>

                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" onclick="Search()"><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</a>
                    &nbsp;
                </div>
            </div>
        </div>

    </div>
   
</div>
<br />
<div class="panel-body">
    <br /><table>
        <tr style="text-align:center">
            <th>Region</th>
            <th>NPI</th>
            <th>Own</th>
            <th>Loc</th>
            <th>Business Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>EWC ES</th>
        </tr>

        <tr><td>1</td><td>###########</td><td>##</td><td>###</td><td>Mom & Pop Clinic</td><td>2407 High Street</td><td>Ste. 4</td><td>Sacramento</td><td>95815</td><td>Enrolled</td></tr>
        <tr><td>10</td><td>########### </td><td>##</td><td>###</td><td>Pop Clinic</td><td>2407 Low Street</td><td>Ste. 12</td><td>San Diego</td><td>95815</td><td>Enrolled</td></tr>
          
        <tr style="text-align:center">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
     </table>
<br />
</div>

<script>
            $(document).ready(function () {
                $('#divPartnersCollaborator').hide();

            })
            function Search() {
                $('#divPartnersCollaborator').show();
            }
            function Add() {
                $.ajax({
                    type: "POST",
                    url: "/PartnersCollaborators/_Edit",
                    data: '{id: 1 }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogEdit').html(response);
                        $('#dialogEdit').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
</script>
