﻿
@model EWC_NSAA.ViewModels.PartnersSearchViewModel

<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #009688;
            color: white;
               font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
<div class="panel panel-primary" style="border:none;     margin-top: 15px;  margin-bottom: 15px;">
    <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
        Select Activity 

    </div>
    <div class="panel-body">
      
       
            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content"> &nbsp; Assistance</span>

                    </div>


                </div>
                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; HE Class</span>

                    </div>


                </div>
                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; 1:1 Outreach</span>

                    </div>


                </div>
                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" >
                        <span class="content"> &nbsp; Networking</span>

                    </div>


                </div>
                <div class="col-md-3">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Community Event</span>

                    </div>


                </div>
            </div>

            <br />
                 <div class="row">
                <div class="col-md-4">
                    <br /><label>Date or Date Range When Activity Occurred: </label>
                    </div>

                    <div class="col-md-3" style="padding-right:70px;">
                        From
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <text class="form-control" placeholder="" required></text>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right:70px;">
                        To
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <text class="form-control" placeholder="" required></text>
                        </div>
                    </div>
                </div>

        </div>

    <div class="panel-footer col-md-12">
        <div class="row">
            <div class="form-group" style="width:100%">

                <div class="pull-right">
                    <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-refresh"></span> &nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp; </a>

                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" onclick="Search()"><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</a>
                    &nbsp;
                </div>
            </div>
        </div>

    </div>
   
</div>
<br />
<div class="panel-body"><br />
    <table>
        <tr style="text-align:center">
            <th>Activity</th>
            <th>Date</th>
            <th>Name</th>
            <th>Edit</th>
            
        </tr>

        <tr><td>Networking</td><td>##/##/####</td><td>Name.....</td><td>Edit</td>
        
        </tr>
        <tr>
            <td>Networking 2</td>
            <td>##/##/####</td>
            <td>Name 2.....</td>
            <td>Edit</td>

        </tr> 
        <tr style="text-align:center">
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
     </table>
<br />
</div>

<script>
            $(document).ready(function () {
                $('#divPartnersCollaborator').hide();

            })
            function Search() {
                $('#divPartnersCollaborator').show();
            }
            function Add() {
                $.ajax({
                    type: "POST",
                    url: "/PartnersCollaborators/_Edit",
                    data: '{id: 1 }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogEdit').html(response);
                        $('#dialogEdit').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
</script>
