﻿
@{
    ViewBag.Title = " Enrollment";
}
<br />
<table class="table table-sm">

    <thead>
        <tr style="background-color:steelblue">

            <td style="text-align:center">
                <span style="color:white">
                    Region
                </span>
            </td>

            <td style="text-align:center">
                <span style="color:white">
                    NPI
                </span>
            </td>

            <td style="text-align:center">
                <span style="color:white">
                    Business Name
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    Address 1
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    Address 2
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    City
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    Zip Code
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    EWC ES
                </span>
            </td>




        </tr>
    </thead>
    <tbody>
        <tr style="background-color:white">


            <td style="text-align:center">1</td>
            <td style="text-align:center">##########</td>

            <td style="text-align:center">Mom & Pop Clinic</td>
            <td style="text-align:center">2407 High Street</td>
            <td style="text-align:center">Ste 4</td>
            <td style="text-align:center">Sacramento</td>
            <td style="text-align:center">95815</td>
            <td style="text-align:center">Enrolled</td>
        </tr>


    </tbody>
    <thead>
        <tr style="background-color:steelblue">

            <td style="text-align:center">
                <span style="color:white">
                    Own
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    Loc
                </span>
            </td>
            <td style="text-align:center">
                <span style="color:white">
                    Telephone Number
                </span>
            </td>

            <td colspan="3" style="text-align:center">
                <span style="color:white">
                    Email
                </span>
            </td>
            <td colspan="3" style="text-align:center">
                <span style="color:white">
                    Website
                </span>
            </td>


        </tr>
    </thead>
    <tbody>
        <tr style="background-color:white">
            <td style="text-align:center">##</td>
            <td style="text-align:center">###</td>
            <td style="text-align:center">(9160 ###-####)</td>
            <td style="text-align:center" colspan="3">momandpopClinica@momandpop.com</td>
            <td style="text-align:center" colspan="3">www.MomandPop.com</td>


        </tr>

    </tbody>
</table>

<div class="panel panel-primary">


    <div class="panel-body" style="border-color:darkgray">
        <div class="row">

            <div class="col-md-3">
                <h4> <b> Recruitment Visit</b> </h4>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
            <div class="col-md-3">
                <h4> <b> Training Visit</b> </h4>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
            <div class="col-md-3">
                <h4> <b> Training Follow Up</b> </h4>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <text class="form-control" placeholder="" required></text>
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                    <span class="content"> &nbsp; Provider Profile Completed</span>

                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Provider sent PCPEA to CC</span>

                </div>


            </div>

            <div class="col-md-4">
                <div class="form-group">

                    <a href="#" class="btn btn-success btn-block" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff Trained&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>


                </div>


            </div>
        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Provider mailed PCPEA to PSU</span>

                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Complete Provider Survey</span>

                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <a href="#" class="btn btn-success btn-block" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;Sign-in sheet Uploaded&nbsp;</a>


                </div>


            </div>
        </div>
    </div>



    <div class="panel-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                    <span class="content"> &nbsp; Enrollment Completed</span>

                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Provider Enrollment on Hold</span>

                </div>


            </div>


        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Training Completed</span>

                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content"> &nbsp; Provider withdrew application</span>

                </div>


            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">


                    <h4> <b> Notes</b> </h4>

                    <textarea class="form-control" rows="3" placeholder="" required></textarea>
                </div>


            </div>
        </div>
    </div>
    


            
        </div>
<div class="content">
    <div class="form-group" style="width:100%">

        <div class="pull-right">
            <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Home </a>
            <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>


        </div>
    </div>
</div>
        <br />  <br />
