﻿
@{
    ViewBag.Title = " Management";
}
<br />
<table class="table table-bordered table-hover table-responsive">

    <thead>
        <tr style="background-color:#036">

            <th style="text-align:center">
                <span style="color:white">
                    Region
                </span>
            </th>

            <th style="text-align:center">
                <span style="color:white">
                    NPI
                </span>
            </th>

            <th style="text-align:center">
                <span style="color:white">
                    Business Name
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    Address 1
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    Address 2
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    City
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    Zip Code
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    EWC ES
                </span>
            </th>




        </tr>
    </thead>
    <tbody>
        <tr style="background-color:white">


            <td>1</td>
            <td>##########</td>

            <td>Mom & Pop Clinic</td>
            <td>2407 High Street</td>
            <td>Ste 4</td>
            <td>Sacramento</td>
            <td>95815</td>
            <td>Enrolled</td>
        </tr>


    </tbody>
    <thead>
        <tr style="background-color:#036">

            <th style="text-align:center">
                <span style="color:white">
                    Own
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    Loc
                </span>
            </th>
            <th style="text-align:center">
                <span style="color:white">
                    Telephone Number
                </span>
            </th>

            <th colspan="3" style="text-align:center">
                <span style="color:white">
                    Email
                </span>
            </th>
            <th colspan="3" style="text-align:center">
                <span style="color:white">
                    Website
                </span>
            </th>


        </tr>
    </thead>
    <tbody>
        <tr style="background-color:white">
            <td>##</td>
            <td>###</td>
            <td>(9160 ###-####)</td>
            <td colspan="3">momandpopClinica@momandpop.com</td>
            <td colspan="3">www.MomandPop.com</td>


        </tr>

    </tbody>
</table>

<br />
<br/>