﻿@model EWC_NSAA.Models.HECCommunityEvents

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            Pre Enrollment
        
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">

                        <div class="form-group">
                          

                        </div>


                    </div>

                </div>

                <div class="col-lg-2 alignright">
                    <div class="form-group">
                        <button class="btn " type="button" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"><span class="glyphicon glyphicon-search"></span>  &nbsp; Search   &nbsp; </button>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">

                        <h4> <b>NPI #</b> </h4>

                        @Html.EditorFor(model => model.HECCommunityNPI, new { htmlAttributes = new { @class = "form-control", @placeholder = "NPI" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityNPI, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-lg-7">
                    <div class="form-group">

                        <h4> <b> Business Name</b> </h4>

                        @Html.EditorFor(model => model.HECCommunityBusinessName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Name" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityBusinessName, "", new { @class = "text-danger" })
                    </div>
                </div>
                

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Address</b> </h4>
                        @Html.EditorFor(model => model.HECCommunityProviderFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityProviderFirstName, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   City</b> </h4>
                        @Html.EditorFor(model => model.HECCommunityProviderLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityProviderLastName, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <h4> <b>   Zip Code</b> </h4>
                        @Html.EditorFor(model => model.HECCommunityProviderLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Zip Code" } })
                        @Html.ValidationMessageFor(model => model.HECCommunityProviderLastName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">

                    </div>

                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                  
                            <div class="form-group">
                                <span class="content"><b> Previously Enrolled</b></span> &nbsp;
                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                               

                        </div>


                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <button class="btn " type="button" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> Request to Recruit</button>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">

                        <h4> <b> Notes</b> </h4>

                        <textarea class="form-control" rows="3" placeholder="" required></textarea>
                    </div>


                </div>
            </div>

            
        </div>
    </div>
    <div class="content">
        <div class="form-group" style="width:100%">

            <div class="pull-right">
                <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Home </a>
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>


            </div>
        </div>
    </div>
    <br />    <br />

}
