﻿@model EWC_NSAA.Models.HECActivity
@using EWC_NSAA.Common
@{
    ViewBag.Title = "Create/Modify";
}
<style>
    .row {
        margin-top: 5px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .panel-heading {
        background-color: rgb(105, 105, 103) !important;
    }

    .panel-primary {
        border-color: rgb(105, 105, 103) !important;
    }
</style>
@{ Html.EnableClientValidation(true); }

@using (Html.BeginForm())
{

   
    <div class="content">
        <div class="form-group" style="width:100%">

            <div class="pull-right">
                <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-search"></span>&nbsp;  Search </a>

            </div>
        </div>
    </div>
    <br /><br />
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
            Networking
                   </div>

      
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-3 alignright">
                    <h4> <b> Incident #:</b> &nbsp;&nbsp;&nbsp;&nbsp;12345&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                    <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Date:&nbsp;&nbsp;</b> 05/05/2018</h4>
                </div>
            </div>

            <div class="row">
               
                <div class="col-md-3" >
                     <h4> <b> Start Date</b> </h4>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
                <div class="col-md-3" >
                     <h4> <b> End Date</b> </h4>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> Name/Purpose</b> </h4>

                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> Collaborator</b> </h4>

                        @Html.DropDownListFor(model => model.HECCollaborator, new SelectList(SelectListHelper.GetCollaboratorsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })


                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Address</b> </h4>
                        @Html.EditorFor(model => model.HECActivityAddress1, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 1" } })

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.EditorFor(model => model.HECActivityAddress2, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 2" } })
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   City</b> </h4>
                        @Html.TextBoxFor(model => model.HECActivityCity, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "City" })
                        @Html.ValidationMessageFor(model => model.HECActivityCity, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <h4> <b>   Zip Code</b> </h4>
                        @Html.EditorFor(model => model.HECActivityZip, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "ZipCode" } })
                        @Html.ValidationMessageFor(model => model.HECActivityZip, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">

                        <h4> <b>My Role</b> </h4>

                        @Html.DropDownListFor(model => model.HECMyRole, new SelectList(SelectListHelper.GetRolesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">

                        <h4> <b>&nbsp;</b> </h4>

                        <div class="form-group form-inline">

                            <div class="form-group">

                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                                <span class="content">Travel</span>

                            </div> &nbsp;

                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">

                        <h4> <b>&nbsp;</b> </h4>

                        <div class="form-group form-inline">

                            <div class="form-group">

                                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                                <span class="content">Confirm Attendance</span>

                            </div> &nbsp;
                           
                        </div>
                    </div>

                </div>
               
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Upload Document</b> </h4>

                        <input type="file" name="img[]" class="file displayNone">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" disabled placeholder="Upload Document">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-md override-height" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                            </span>
                        </div> </div>

                </div>
             

            </div>
         
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">

                       
                        <h4> <b> Notes</b> </h4>

                        <textarea class="form-control" rows="3" placeholder="" required></textarea>
                    </div>


                </div> 
            </div>
            
        </div>

        

    </div>
    <div class="content">
        <div class="form-group" style="width:100%">

            <div class="pull-right">
                <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Home </a>
                <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px; background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span> &nbsp;Save</a>

                
            </div>
        </div>
    </div>
    <br />    <br />
}





