﻿
<div class="row col-lg-12 panel-heading" style="min-height:60px;  border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 5, 0, 0.1) , 0px 2px 10px 0 rgba(0, 0, 0, 0.2); MARGIN-LEFT:0px; margin-top: 20px; align-content:center">
    <div class="col-lg-5" style="margin-right: 60px; ">
        <h4> <b>  &nbsp;</b> </h4>
    </div>
    <div class="col-lg-1" style="margin-top: 6px; margin-right: 4px;">
        <h4> <b>  SEARCH</b> </h4>
    </div>
    <div class="col-lg-1" style="margin-top: 12px; margin-right: 14px;">
        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Activity</label>
        </div>

    </div>
    <div class="col-lg-1" style="margin-top: 12px; margin-right: 14px;">
        <div class="form-group">


            <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Provider</label>

        </div>

    </div>
    <div class="col-lg-2" style="margin-top: 12px; ">
        <div class="form-group">

            <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Collaborator</label>

        </div>

    </div>

    <div class="col-lg-1" style="margin-top: 6px; ">
        <div class="form-group">

            <a href="#" class="btn" style=" cursor:pointer;background-color: #3a3a3a;border 2px #cfcfcf;font-size 18px !important;color #fff;" id="activate-step"> <span class="glyphicon glyphicon-search"></span>  </a>

        </div>

    </div>
</div>

<br />

<br />
    <div class="row col-md-12" style="MARGIN-LEFT:0px;">


        <br />

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 5, 0, 0.1) , 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="text-center">Main Menu</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Assistance")" onclick="navigationClick()" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Assistance</span>
                        <div class="clearfix"></div>

                    </div>
                </a>

                <a href="@Url.Action("Index2", "Enrollment")" onclick="navigationClick()" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Navigation Services</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a style="color: #060606;" href="@Url.Action("Create", "PartnersCollaborators")">
                    <div class="panel-footer">
                        <span class="pull-left">Partners & Collaborators</span>
                        <div class="clearfix"></div>
                    </div>
                </a>


                <a href="@Url.Action("CreateModifyNetworking", "Home")" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Networking</span>
                        <div class="clearfix"></div>
                    </div>
                </a>

                <a href="" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Health Education & Communication (HEC)</span>
                        <div class="clearfix"></div>
                    </div>
                </a>

                <a href="" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Clinical Services (CS)</span>
                        <div class="clearfix"></div>
                    </div>
                </a>

                <a href="" style="color: #060606;">
                    <div class="panel-footer">
                        <span class="pull-left">Service Support</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <br />
        </div>

        <div class="col-lg-5 col-md-5">
            @*<div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="text-center">Search</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("SearchActivity", "Home")" onclick="navigationClick()" style="color: #060606;">
                    <div class="panel-footer" style="background-color:  orange; ">
                        <b>  Activity</b>

                    </div>
                </a>

                <a href="@Url.Action("PartnersCollaboratorList", "PartnersCollaborators")" onclick="navigationClick()" style="color: #060606;">
                    <div class="panel-footer" style="background-color:  cornflowerblue; ">
                        <b>  Collaborator</b>

                    </div>
                </a>
                <a href="@Url.Action("SearchProvider", "Home")" onclick="navigationClick()" style="color: #060606;">
                    <div class="panel-footer" style="background-color:  green; ">
                        <b>  Provider</b>

                    </div>
                </a>



            </div>*@
            <br />
        </div>

        
        <br />


    </div><br />
