﻿
@model EWC_NSAA.ViewModels.PartnersSearchViewModel

<style>
    table {
        font-family: 'FiraSans-Light' !important;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
       
        padding: 8px;
    }

    th {
        background-color: rgb(105, 105, 103);
        color: white;
         
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
        
    }
</style>

<div class="panel panel-primary" style="border:none;     margin-top: 15px;  margin-bottom: 15px;">
    <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
        Select Activity 

    </div>
    <div class="panel-body">
      
       
            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content"> &nbsp; Assistance</span>

                    </div>


                </div>
                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; HE Class</span>

                    </div>


                </div>
                <div class="col-md-3">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; 1:1 Outreach</span>

                    </div>


                </div>
                <div class="col-md-2">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" >
                        <span class="content"> &nbsp; Networking</span>

                    </div>


                </div>
                <div class="col-md-3">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Community Event</span>

                    </div>


                </div>
            </div>

            <br />
                 <div class="row">
                <div class="col-md-4">
                    <br />Date or Date Range When Activity Occurred: 
                    </div>

                    <div class="col-md-3" style="padding-right:70px;">
                        From
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <text class="form-control" placeholder="" required></text>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right:70px;">
                        To
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <text class="form-control" placeholder="" required></text>
                        </div>
                    </div>
                </div>

        </div>
    
    <div class="col-md-12">
        <div class="row">
            <div class="form-group" style="width:100%">
                <br />
                <div class="pull-right">
                    <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;  background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" onclick="Search()"><span class="glyphicon glyphicon-print"></span> &nbsp;Print</a>

                    <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px;  cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-refresh"></span> &nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp; </a>

                    <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;  background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" onclick="Search()"><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</a>
                    &nbsp;
                </div>
            </div>
        </div>

    </div>
   
</div>
<br />
<div class="panel-body"><br />
    <table class="table table-sm table-bordered" style="border:medium">
        <thead>
       
            <tr style="text-align:center; background-color:  rgb(105, 105, 103); border-color:rgb(105, 105, 103); font-size:18PX; color:white">
                <td>Activity</td>
                <td>Date</td>
                <td>Name</td>
                <td>Edit</td>

            </tr>
            </thead>
        <tbody>
            <tr style="text-align:left; ">
                <td>Networking</td>
                <td>##/##/####</td>
                <td>Name.....</td>
                <td style="text-align:center; ">Edit</tdstyle="text-align:center;>

            </tr>
            <tr style="text-align:left; ">
                <td>Networking 2</td>
                <td>##/##/####</td>
                <td>Name 2.....Name 2.....</td>
                <td style="text-align:center; ">Edit</td>

            </tr>
          
        </tbody>
    </table>
<br />
</div>

<script>
            $(document).ready(function () {
                $('#divPartnersCollaborator').hide();

            })
            function Search() {
                $('#divPartnersCollaborator').show();
            }
            function Add() {
                $.ajax({
                    type: "POST",
                    url: "/PartnersCollaborators/_Edit",
                    data: '{id: 1 }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogEdit').html(response);
                        $('#dialogEdit').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
</script>
