﻿@model EWC_NSAA.Models.HECActivity
@using EWC_NSAA.Common
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">

                        <h4> <b> Name/Purpose</b> </h4>

                        @Html.EditorFor(model => model.HECNameOrPurpose, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name / Purpose" } })
                        @Html.ValidationMessageFor(model => model.HECNameOrPurpose, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">

                        <h4> <b>Type of Activity</b> </h4>

                        @Html.DropDownListFor(model => model.HECActivityType, new SelectList(SelectListHelper.GetActivityTypesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> Collaborator</b> </h4>

                        @Html.DropDownListFor(model => model.HECCollaborator, new SelectList(SelectListHelper.GetCollaboratorsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        <button type="button" class="btn btn-xs">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> Collaborator Contribution</b> </h4>

                        @Html.DropDownListFor(model => model.HECCollaboratorContribution, new SelectList(SelectListHelper.GetCollaboratorContributionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        <button type="button" class="btn btn-xs">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">

                        <h4> <b> Address</b> </h4>
                        @Html.EditorFor(model => model.HECActivityAddress1, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 1" } })

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.EditorFor(model => model.HECActivityAddress2, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 2" } })
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <h4> <b>   City</b> </h4>
                        @Html.TextBoxFor(model => model.HECActivityCity, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "City" })
                        @Html.ValidationMessageFor(model => model.HECActivityCity, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <h4> <b>   Zip Code</b> </h4>
                        @Html.EditorFor(model => model.HECActivityZip, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "ZipCode" } })
                        @Html.ValidationMessageFor(model => model.HECActivityZip, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> CHW</b> </h4>

                        @Html.DropDownListFor(model => model.HECCHW, new SelectList(SelectListHelper.GetCHWsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        <button type="button" class="btn btn-xs">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <h4> <b> Other Attendee</b> </h4>

                        @Html.EditorFor(model => model.HECOtherAttendees, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendee" } })
                        @Html.ValidationMessageFor(model => model.HECOtherAttendees, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        <button type="button" class="btn btn-xs">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Population</b> </h4>

                        @Html.DropDownListFor(model => model.HECPopulation, new SelectList(SelectListHelper.GetPopulationsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Language</b> </h4>

                        @Html.DropDownListFor(model => model.HECLanguage, new SelectList(SelectListHelper.GetLanguagesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Discussed</b> </h4>

                        @Html.DropDownListFor(model => model.HECDiscussed, new SelectList(SelectListHelper.GetDiscussionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Pre-/Post-test</b> </h4>

                        @Html.DropDownListFor(model => model.HECPrePostTest, new SelectList(SelectListHelper.GetTestsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Result</b> </h4>

                        @Html.DropDownListFor(model => model.HECResult, new SelectList(SelectListHelper.GetResultsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>My Role</b> </h4>

                        @Html.DropDownListFor(model => model.HECMyRole, new SelectList(SelectListHelper.GetRolesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content">Confirm Attendance</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content">Travel</span>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <h4> <b> Upload Document</b> </h4>
                </div>
                <div class="col-lg-8">
                    <div class="form-group row">


                        <input type="file" name="img[]" class="file displayNone">
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" disabled placeholder="Upload Document">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-md override-height" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                            </span>
                        </div>
                    </div>
                </div>


            </div>



            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">

                        <h4> <b> Notes</b> </h4>

                        <textarea class="form-control" rows="3" placeholder="" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
            }
