﻿@model EWC_NSAA.ViewModels.HECViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        margin-top: 5px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .panel-heading {
        background-color: rgb(139, 174, 36) !important;
    }

    .panel-primary {
        border-color: rgb(139, 174, 36) !important;
    }
</style>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Activity</h3>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2 pull-right">
                <h4> <b> Incident #:</b> 12345</h4>
                <h4> <b> Date: </b> 04/05/2018</h4>
            </div>
        </div>

        <div class="row">


            <div class="col-lg-3">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                    <span class="content">HE Class</span>

                </div>
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content">1:1 Outreach</span>

                </div>
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content">Community Events</span>

                </div>
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content">Networking</span>

                </div>
            </div>

            <div class="col-lg-9">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                    <span class="content">Activity Cancelled</span>
                    <h4> <b> Reason For Cancellation</b> </h4>

                    <textarea class="form-control" rows="3" placeholder="" required></textarea>
                </div>


            </div>

        </div>


    </div>
</div>

@Html.Partial("HECActivity", Model.HECActivity)
@Html.Partial("HECCommunityEvents", Model.HECCommunityEvents)
@Html.Partial("HECParticipant", Model.HECParticipant)

            <div class="container container-top-align">
                @*<div class="row">
                    <div style="width:100%">
                        @Html.Partial("HECActivity", Model.HECActivity)
                    </div>
                </div>
                <div class="row">
                    <div style="width:100%">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Events</h3>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="panel-body">@Html.Partial("HECCommunityEvents", Model.HECCommunityEvents)</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="width:100%">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Participant</h3>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="panel-body">@Html.Partial("HECParticipant", Model.HECParticipant)</div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="form-group" style="width:100%">

                        <div class="pull-right">
                            <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Home </a>
                            <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                          
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="pull-right">

                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).on('click', '.panel-heading span.clickable', function (e) {
                    var $this = $(this);
                    if (!$this.hasClass('panel-collapsed')) {
                        $this.parents('.panel').find('.panel-body').slideUp();
                        $this.addClass('panel-collapsed');
                        $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    } else {
                        $this.parents('.panel').find('.panel-body').slideDown();
                        $this.removeClass('panel-collapsed');
                        $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    }
                });


            </script>
