﻿
@model EWC_NSAA.ViewModels.ContactInfoViewModel


<div class="panel panel-default" style="border:none;     margin-top: -10px;" id="personalInfo">
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <h3> <b>Contact 1</b></h3>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-xs-4 col-md-4">
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">

                <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>  Name</b> </h4>
                @Html.TextBoxFor(model => model.FirstName1, new { @class = "form-control", @placeholder = "First Name" })
                @Html.ValidationMessageFor(model => model.FirstName1, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <h4> <b>  &nbsp;</b> </h4>
                @Html.TextBoxFor(model => model.LastName1, new { @class = "form-control", @placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName1, "", new { @class = "text-danger" })
            </div>

        </div>


        <div class="col-lg-4">
            <div class="form-group">
                <h4> <b>  Title</b> </h4>
                @Html.TextBoxFor(model => model.Title1, new { @class = "form-control", @placeholder = "Title" })
                @Html.ValidationMessageFor(model => model.Title1, "", new { @class = "text-danger" })

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">

                <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>Phone</b> </h4>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength = 10 } })
                    @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger", maxlength = 10 })


                    <div class="col-xs-4 col-md-1">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <h4> <b>  Ext.</b> </h4>
                @Html.TextBoxFor(model => model.DateOfLastContact1, new { @class = "form-control", @placeholder = " " })
                @Html.ValidationMessageFor(model => model.DateOfLastContact1, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="col-lg-5">
            <div class="form-group">

                <h4> <b>Email</b> </h4>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    @Html.ValidationMessageFor(model => model.Email1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="form-group">
                <h4> <b>  Date Of Last Contact</b> </h4>
                @Html.TextBoxFor(model => model.DateOfLastContact1, new { @class = "form-control", @placeholder = "Date " })
                @Html.ValidationMessageFor(model => model.DateOfLastContact1, "", new { @class = "text-danger" })

            </div>

        </div>

    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <h3> <b>Contact 2</b></h3>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-xs-4 col-md-4">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">

                <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>  Name</b> </h4>
                @Html.TextBoxFor(model => model.FirstName2, new { @class = "form-control", @placeholder = "First Name" })
                @Html.ValidationMessageFor(model => model.FirstName2, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <h4> <b>  &nbsp;</b> </h4>
                @Html.TextBoxFor(model => model.LastName2, new { @class = "form-control", @placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName2, "", new { @class = "text-danger" })
            </div>

        </div>


        <div class="col-lg-4">
            <div class="form-group">
                <h4> <b>  Title</b> </h4>
                @Html.TextBoxFor(model => model.Title2, new { @class = "form-control", @placeholder = "Title" })
                @Html.ValidationMessageFor(model => model.Title2, "", new { @class = "text-danger" })

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">

                <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>Phone</b> </h4>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength = 10 } })
                    @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger", maxlength = 10 })


                    <div class="col-xs-4 col-md-1">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <h4> <b>  Ext.</b> </h4>
                @Html.TextBoxFor(model => model.DateOfLastContact2, new { @class = "form-control", @placeholder = " " })
                @Html.ValidationMessageFor(model => model.DateOfLastContact2, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="col-lg-5">
            <div class="form-group">

                <h4> <b>Email</b> </h4>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    @Html.EditorFor(model => model.Email2, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    @Html.ValidationMessageFor(model => model.Email2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="form-group">
                <h4> <b>  Date Of Last Contact</b> </h4>
                @Html.TextBoxFor(model => model.DateOfLastContact2, new { @class = "form-control", @placeholder = "Date " })
                @Html.ValidationMessageFor(model => model.DateOfLastContact2, "", new { @class = "text-danger" })

            </div>

        </div>

    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-xs-4 col-md-4">

                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer col-md-12 pull-right">
        <div class="row pull-right">

            <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
              <a href="#" class="btn" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" " id="activate-step"> &nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-save"></span> &nbsp;  Save&nbsp;&nbsp;&nbsp;   </a>
            &nbsp;
        </div>
    </div>

  
</div>

