﻿<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #009688;
            color: white;
               font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <br>
    <div class="tab-content">
        <div class="panel panel-default" id="tab1">
            <table>
                <tr style="text-align:center"><th>Region</th>
                <th>Name 1</th>
                <th>Name 2</th><th>City</th><th>Type</th><th>Category</th><th>Population</th><th>Language</th><th>Edit</th><th>Inactive</th></tr>
                
                <tr><td>Houston</td><td>Tom</td><td></td><td>Houston</td><td>Test Type</td><td>Test Category</td><td>10000</td><td>English</td><td><a href="#" onclick="Edit()">Edit</a></td><td><a href="#" onclick="Deactivate()">Deactivate</a></td></tr>
                <tr><td>Houston</td><td>Tom </td><td></td><td>Houston</td><td>Test Type</td><td>Test Category</td><td>10000</td><td>English</td><td><a href="#" onclick="Edit()">Edit</a></td><td><a href="#" onclick="Deactivate()">Deactivate</a></td></tr>
                <tr><td>Houston</td><td>Tom </td><td></td><td>Houston</td><td>Test Type</td><td>Test Category</td><td>10000</td><td>English</td><td><a href="#" onclick="Edit()">Edit</a></td><td><a href="#" onclick="Deactivate()">Deactivate</a></td></tr>
            </table>
        </div>
    </div>

    <br />
</body>
</html>


<script>
    function Edit() {
        $.ajax({
            type: "POST",
            url: "/PartnersCollaborators/_Edit",
            data: '{id: 1 }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dialogEdit').html(response);
                $('#dialogEdit').dialog('open');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function Deactivate() {
        $.ajax({
            type: "POST",
            url: "/PartnersCollaborators/_Deactivate",
            data: '{id: 1 }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dialogDeactivate').html(response);
                $('#dialogDeactivate').dialog('open');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>
