﻿
@model EWC_NSAA.ViewModels.OrganizationInfoViewModel

<div class="panel panel-default" style="border:none;     margin-top: -10px;" id="personalInfo">
    @*<div class="panel panel-default" id="personalInfo">*@
    <br /><h3 style="padding-left:17px"> <b>Organization’s Information</b></h3>

    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                  
                    <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>  Name</b> </h4>
                    @Html.TextBoxFor(model => model.Name1, new { @class = "form-control", @placeholder = "*Name of org 1" })
                    @Html.ValidationMessageFor(model => model.Name1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.TextBoxFor(model => model.Name2, new { @class = "form-control", @placeholder = "*Name of org 2" })
                    @Html.ValidationMessageFor(model => model.Name2, "", new { @class = "text-danger" })
                </div>

            </div>


            <div class="col-lg-2">
                <div class="form-group">
                    <h4> <b>  Abbreviation</b> </h4>
                    @Html.TextBoxFor(model => model.Abbreviation, new { @class = "form-control", @placeholder = "Abbreviation " })
                    @Html.ValidationMessageFor(model => model.Abbreviation, "", new { @class = "text-danger" })

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b> Address</b> </h4>
                   @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "Address 1" })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <h4> <b>   &nbsp;</b> </h4>
                    @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "Address 2" })
                    @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <h4> <b>   City</b> </h4>
                    @Html.DropDownListFor(model => model.City, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetCityDropDown(), "--Select City--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>

            </div>
            

        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <h4> <b>   Zip Code</b> </h4>
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "ZipCode" } })
                    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <span style="color:red;margin-left:-7px"> *</span>&nbsp;<b>Phone</b> </h4>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength = 10 } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", maxlength = 10 })


                        <div class="col-xs-4 col-md-1">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group">

                    <h4> <b>Email</b> </h4>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


           

    </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <h4> <b>  Website</b> </h4>
                    @Html.TextBoxFor(model => model.Web, new { @class = "form-control", @placeholder = "Websit Address " })
                    @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">



                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">

                </div>
            </div>




        </div>
        <div class="row">
            <div class="col-lg-5">
              <br /><br /><br />
                </div>
            </div>
        <div class="row">
            <div class="col-lg-5">
                <br /><br /><br /><br />
            </div>
        </div>

    
         
          
        </div>
    <div class="panel-footer col-md-12 pull-right">
        <div class="row pull-right">

            <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next&nbsp;&nbsp;&nbsp;   </a>
            <a href="#" class="btn" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" " id="activate-step"> &nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-save"></span> &nbsp;  Save&nbsp;&nbsp;&nbsp;   </a>
            &nbsp;
        </div>
    </div>

    </div> <br />
<script>


</script>