﻿
@model EWC_NSAA.ViewModels.PartnersSearchViewModel

<div class="panel panel-primary"  style="border:none;     margin-top: 15px;  margin-bottom: 15px;">
    <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
        Search

    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-3">

                <div class="form-group">
                    <h4> <b>Region </b></h4>
                    @Html.DropDownListFor(model => model.Region, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Region--", new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-3">
                <h4><b>Name </b></h4>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Name, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Name--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <h4><b>Language </b></h4>
                    @Html.DropDownListFor(model => model.Language, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Language--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <h4><b>Service Category </b></h4>
                    @Html.DropDownListFor(model => model.ServicePopulation, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Service category--", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">

                <div class="form-group">
                    <h4><b>Abbreviation </b></h4>
                    @Html.DropDownListFor(model => model.Abbreviation, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Abbreviation--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <h4><b>Type Of Organization </b></h4>
                    @Html.DropDownListFor(model => model.Type, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Type Of Organization--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <h4><b>Service Category </b></h4>
                    @Html.DropDownListFor(model => model.ServiceCategory, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Service Category--", new { @class = "form-control" })
                </div>
            </div>
            
        </div>
        </div>
    
    <div class="panel-footer col-md-12">
        <div class="row">
            <div class="form-group" style="width:100%">

                <div class="pull-right">
                    <a onclick="" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-refresh"></span> &nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp; </a>
       
                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" onclick="Search()"><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</a>
                    &nbsp;
                </div>
            </div>
        </div>
               
    </div>
    <br />
    </div>


        <script>
            $(document).ready(function () {
                $('#divPartnersCollaborator').hide();

            })
            function Search() {
                $('#divPartnersCollaborator').show();
            }
            function Add() {
                $.ajax({
                    type: "POST",
                    url: "/PartnersCollaborators/_Edit",
                    data: '{id: 1 }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogEdit').html(response);
                        $('#dialogEdit').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        </script>
