﻿@model EWC_NSAA.ViewModels.ServiceInfoViewModel

<div class="panel panel-default" style="border:none;     margin-top: -10px;" id="personalInfo">
    @*<div class="panel panel-default" id="personalInfo">*@
    <br /><h3 style="padding-left:17px"> <b>Service Information</b></h3>

    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">

                    <h4> <b>  Type</b> </h4>
                    @Html.DropDownListFor(model => model.ServiceType1, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetServiceDropDown(), "--Select Service Type 1--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ServiceType1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.DropDownListFor(model => model.ServiceType2, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetServiceDropDown(), "--Select Service Type 2--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ServiceType2, "", new { @class = "text-danger" })
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">

                    <h4> <b>  Category</b> </h4>
                  @Html.DropDownListFor(model => model.Category1, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetCategoryDropDown(), "--Select Category 1--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.DropDownListFor(model => model.Category2, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetServiceDropDown(), "--Select Category 2--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category2, "", new { @class = "text-danger" })
                </div>

            </div>



        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">

                    <h4> <b>  Population</b> </h4>
                    @Html.DropDownListFor(model => model.Population1, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetPopulationDropDown(), "--Select Service Population 1--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Population1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.DropDownListFor(model => model.Population2, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetPopulationDropDown(), "--Select Service Population 2--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Population2, "", new { @class = "text-danger" })
                </div>

            </div>



        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>  Language</b> </h4>
                    @Html.DropDownListFor(model => model.Language1, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetPopulationDropDown(), "--Language 1--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Language1, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.DropDownListFor(model => model.Language2, EWC_NSAA.Controllers.PartnersCollaboratorsController.GetPopulationDropDown(), "--Language 2--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Language2, "", new { @class = "text-danger" })
                </div>

            </div>

           

        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">

                    <h4> <b>  Area</b> </h4>
                    @Html.CheckBoxFor(model => model.StateWide)
                    <label>Statewide</label>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.CheckBoxFor(model => model.National)
                    <label>National</label>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">

                    <h4> <b>   &nbsp;</b> </h4>
                    @Html.CheckBoxFor(model => model.CARegion)
                    <label>CA Region</label>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <h4> <b>  &nbsp;</b> </h4>
                    @Html.CheckBoxFor(model => model.County)
                    <label>County</label>
                </div>

            </div>
            </div>

        </div>
    <div class="panel-footer col-md-12 pull-right">
        <div class="row pull-right">
           
                <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next&nbsp;&nbsp;&nbsp;   </a>
                <a href="#" class="btn" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"" id="activate-step"> &nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-save"></span> &nbsp;  Save&nbsp;&nbsp;&nbsp;   </a>
            &nbsp;
        </div>
    </div>
        
</div>
