﻿
<div class="row col-md-12" style="MARGIN-LEFT:0px;margin-top: 40px;">



    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(139, 174, 36);border-color:rgb(139, 174, 36);">
                <div class="row">

                    <div class="col-md-12">

                        <div class="text-center">HEC</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Create", "Enrollment")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">HEC Activities</span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a style="color: #060606;" href="@Url.Action("Index", "HECActivities")">
                <div class="panel-footer">
                    <span class="pull-left">HEC Activities</span>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="@Url.Action("Index2", "Enrollment")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">CHW Recruitment & Training</span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="@Url.Action("PartnersCollaboratorList", "PartnersCollaborators")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Reports</span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
        <br />
    </div>

    <div class="col-md-6">

        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(139, 174, 36);border-color:rgb(139, 174, 36);">

                <div class="text-center">Search</div>
            </div>
            <div class="panel-body">

                <div class="col-lg-6 text-center" style="background-color:  orange;">
                    <br /><b>   Activity</b><br /><br />

                </div>
                <div class="col-lg-6 text-center" style="background-color:  cornflowerblue;">
                    <br /> <b>  Collaborator</b><br /><br />
                </div>
              

            </div>

        </div>
    
        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color:  rgb(105, 105, 103);border-color:rgb(105, 105, 103);">
                <div class="row">

                    <div class="col-md-12">

                        <div class="text-center">Instant Messaging</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Create", "Enrollment")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Message 1</span>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="@Url.Action("Index2", "Enrollment")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Message 2</span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="@Url.Action("PartnersCollaboratorList", "PartnersCollaborators")" onclick="navigationClick()" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Message 3</span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div> 
    <br />


</div><br />

