﻿@model EWC_NSAA.Models.HECActivity

<div class="panel-body" style="min-height: 550px; max-height: 550px; ">
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3 alignright">
            <h4> <b> Incident #:</b>12345</h4>
            <h4> <b> Date:</b> 05/05/2018</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <h4> <b> Date of Activity</b> </h4>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <text class="form-control" placeholder="" required></text>
            </div>
        </div>
        </div> <br />
        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="hecClass" autocomplete="off" checked="">
                    <span class="content">HE Class</span>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="outreach" autocomplete="off">
                    <span class="content">1:1 Outreach</span>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <input type="checkbox" name="preferenceday3" id="community" autocomplete="off">
                    <span class="content">Community Events</span>

                </div>
            </div>

                


            </div><br />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">

                <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                <span class="content">Activity Cancelled</span>
                <h4> <b> Reason For Cancellation</b> </h4>
                @*@Html.TextAreaFor(m => m.ReasonForCancellation)*@
                <textarea class="form-control" rows="3" placeholder="" required></textarea>
            </div>
        </div>
    </div>
    </div>

<div class="content" >
    <div class="form-group" style="width:100%; ">

        <div class="pull-right" >
            <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>
            <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-right"></span>  &nbsp;Next </a>



        </div>
    </div>
</div>