﻿@model EWC_NSAA.Models.HECCommunityEvents

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-body" style="min-height: 550px; max-height: 550px; ">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">

                    <h4> <b> Business Name</b> </h4>

                    @Html.EditorFor(model => model.HECCommunityBusinessName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Name" } })
                    @Html.ValidationMessageFor(model => model.HECCommunityBusinessName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>NPI #</b> </h4>

                    @Html.EditorFor(model => model.HECCommunityNPI, new { htmlAttributes = new { @class = "form-control", @placeholder = "NPI" } })
                    @Html.ValidationMessageFor(model => model.HECCommunityNPI, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b> Provider’s Name</b> </h4>
                    @Html.EditorFor(model => model.HECCommunityProviderFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                    @Html.ValidationMessageFor(model => model.HECCommunityProviderFirstName, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <h4> <b>   &nbsp;</b> </h4>
                    @Html.EditorFor(model => model.HECCommunityProviderLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.HECCommunityProviderLastName, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-lg-4">
                <div class="form-group">

                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">

                    <h4> <b> EWC Provider?</b> </h4>
                    <div class="form-group form-inline">
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp; &nbsp; &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No</span>

                        </div>&nbsp; &nbsp; &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Unknown</span>

                        </div>
                    </div>


                </div>

            </div>

            <div class="col-lg-2">
                <div class="form-group">

                </div>

            </div>

        </div>

    </div>

    <div class="content">
        <div class="form-group" style="width:100%">


            <div class="row pull-right">

                <a onclick="showMore('screen1')" class="btn hide previousButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  &nbsp;Previous   </a>
                <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>

                <a onclick="showMore('screen2')" class="btn nextButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next  </a>
                &nbsp;
            </div>

        </div>
    </div>
}
