﻿@model EWC_NSAA.Models.HECDetails
@using EWC_NSAA.Common
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-body" style="min-height: 550px; max-height: 550px; ">
        <div class="screen1">
            <div class="row hecClass">
                <div class="col-lg-8 outreach ">
                    <div class="form-group">

                        <h4> <b> Name/Purpose</b> </h4>

                        @Html.EditorFor(model => model.HECNameOrPurpose, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name / Purpose" } })
                        @Html.ValidationMessageFor(model => model.HECNameOrPurpose, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4 hecClass">
                    <div class="form-group">

                        <h4> <b>Type of Activity</b> </h4>

                        @Html.DropDownListFor(model => model.HECActivityType, new SelectList(SelectListHelper.GetActivityTypesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>

            </div>


            <div class="row otherType hide">
                <div class="col-lg-8 outreach hide">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-4 hecClass hide">
                    <div class="form-group">

                        <h4> <b>Other Type of Activity</b> </h4>
                        @Html.TextBoxFor(model => model.OtherActivityType, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "Other" })
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">

                        <h4> <b> Collaborator</b> </h4>

                        @Html.DropDownListFor(model => model.HECCollaborator, new SelectList(SelectListHelper.GetCollaboratorsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>

                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        @*<button type="button" class="btn btn-xs" onclick="ShowOtherElement(this,'colOther')">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>*@
                        <a onclick="ShowOtherElement(this, 'colOther')" class="btn btn-xs" id="back-step" style="min-width: 70px; max-width: 70px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-plus-sign glyphicon-align-center"></span>  &nbsp;Add </a>

                    </div>

                  
                </div>
                <div class="col-lg-6">
                  
                    <div id="colOther" class="form-group hide alignLeft">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.DropDownListFor(model => model.HECCollaborator, new SelectList(SelectListHelper.GetCollaboratorsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>



            <div class="row outreach">
                <div class="col-lg-5">
                    <div class="form-group ">

                        <h4> <b> Collaborator Contribution</b> </h4>

                        @Html.DropDownListFor(model => model.HECCollaboratorContribution, new SelectList(SelectListHelper.GetCollaboratorContributionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                       
                        <a onclick="ShowOtherElement(this, 'contriOther')" class="btn btn-xs" id="contri" style="min-width: 70px; max-width: 70px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-plus-sign glyphicon-align-justify"></span>  &nbsp;Add </a>

                    </div>


                </div>

                <div class="col-lg-6">
                    <div id="contriOther" class="form-group hide">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.DropDownListFor(model => model.HECCollaboratorContribution, new SelectList(SelectListHelper.GetCollaboratorContributionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                @*<div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>
                        <button type="button" class="btn btn-xs" onclick="ShowOtherElement(this, 'contriOther')">
                            <span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true">Add</span>
                        </button>
                    </div>

                </div>*@
            </div>

            @*<div class="row outreach">
                <div class="col-lg-6">
                    <div id="contriOther" class="form-group hide">
                        @Html.DropDownListFor(model => model.HECCollaboratorContribution, new SelectList(SelectListHelper.GetCollaboratorContributionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>*@
            <div class="row otherCollabContribution hide">
                <div class="col-lg-6">
                    <div class="form-group">
                        <h4> <b>   Other Collaborator Contributionll</b> </h4>
                        @Html.TextBoxFor(model => model.OtherCollaboratorContribution, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "Other" })
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                            @Html.EditorFor(model => model.HECActivityAddress2, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 2" } })
                        </div>
                    </div>

                </div>
                

                <div class="col-lg-3">
                    <div class="form-group">
                        <h4> <b>   City</b> </h4>
                        @Html.TextBoxFor(model => model.HECActivityCity, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "City" })
                        @Html.ValidationMessageFor(model => model.HECActivityCity, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <h4> <b>   Zip Code</b> </h4>
                        @Html.EditorFor(model => model.HECActivityZip, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "ZipCode" } })
                        @Html.ValidationMessageFor(model => model.HECActivityZip, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">

                        <h4> <b> CHW</b> </h4>

                        @Html.DropDownListFor(model => model.HECCHW, new SelectList(SelectListHelper.GetCHWsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>

                <div class="col-lg-1">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>

                        <a onclick="ShowOtherElement(this, 'chwOther')" class="btn btn-xs" id="back-step" style="min-width: 70px; max-width: 70px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-plus-sign glyphicon-align-center"></span>  &nbsp;Add </a>

                    </div>


                </div>

               

                <div class="col-lg-6">
                    <div id="chwOther" class="form-group hide">
                        <h4> <b> &nbsp;</b> </h4>
                        @Html.DropDownListFor(model => model.HECCHW, new SelectList(SelectListHelper.GetCHWsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

            </div>

            @*<div class="row">
                <div class="col-lg-6">
                    <div id="chwOther" class="form-group hide">
                        @Html.DropDownListFor(model => model.HECCHW, new SelectList(SelectListHelper.GetCHWsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">

                        <h4> <b> Other Attendee</b> </h4>

                        @Html.EditorFor(model => model.HECOtherAttendees, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendee" } })
                        @Html.ValidationMessageFor(model => model.HECOtherAttendees, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <h4> <b>   &nbsp;</b> </h4>

                        <a onclick="ShowOtherElement(this, 'otherAtt2')" class="btn btn-xs" id="back-step" style="min-width: 70px; max-width: 70px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-plus-sign glyphicon-align-center"></span>  &nbsp;Add </a>

                    </div>


                </div>
                <div class="col-lg-6">
                    <div id="otherAtt2" class="form-group hide">
                        <h4> <b>   &nbsp;</b> </h4>
                        @Html.EditorFor(model => model.HECOtherAttendees, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendees" } })
                        @Html.ValidationMessageFor(model => model.HECOtherAttendees, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>


          
        </div>
        <div class="screen2 hide">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b> Population</b> </h4>

                        @Html.DropDownListFor(model => model.HECPopulation, new SelectList(SelectListHelper.GetPopulationsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Language</b> </h4>

                        @Html.DropDownListFor(model => model.HECLanguage, new SelectList(SelectListHelper.GetLanguagesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Discussed</b> </h4>

                        @Html.DropDownListFor(model => model.HECDiscussed, new SelectList(SelectListHelper.GetDiscussionsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group otherDiscussed hide">

                        <h4> <b>Other Discussed</b> </h4>
                        @Html.EditorFor(model => model.OtherDiscussed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendee" } })
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="community">
                    <div class="col-lg-4 outreach">
                        <div class="form-group">

                            <h4> <b> Pre-/Post-test</b> </h4>

                            @Html.DropDownListFor(model => model.HECPrePostTest, new SelectList(SelectListHelper.GetTestsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>Result</b> </h4>

                        @Html.DropDownListFor(model => model.HECResult, new SelectList(SelectListHelper.GetResultsLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <h4> <b>My Role</b> </h4>

                        @Html.DropDownListFor(model => model.HECMyRole, new SelectList(SelectListHelper.GetRolesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>
            </div>


            <div class="row">
                <div>
                    <div class="col-lg-4 outreach">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group otherResult hide">

                        <h4> <b>Other Result</b> </h4>
                        @Html.EditorFor(model => model.OtherResult, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendee" } })
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group otherRole hide">

                        <h4> <b>Other My Role</b> </h4>
                        @Html.EditorFor(model => model.OtherMyRole, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Attendee" } })
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-4 outreach">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content">Confirm Attendance</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content">Travel</span>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">


                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-3">
                    <h4> <b> Upload Document</b> </h4>
                </div>
                <div class="col-lg-8">
                    <div class="form-group row">


                        <input type="file" name="img[]" class="file displayNone">
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" disabled placeholder="Upload Document">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-md override-height" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                            </span>
                        </div>
                    </div>
                </div>


            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">

                        <h4> <b> Notes</b> </h4>

                        <textarea class="form-control" rows="3" placeholder="" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="form-group" style="width:100%">

           
            <div class="row pull-right">

                <a onclick="showMore('screen1')" class="btn previousButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  &nbsp;Previous   </a>
                <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>

                <a onclick="showMore('screen2')" class="btn nextButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next  </a>
                &nbsp;
            </div>

        </div>
    </div>

        @*<div class="panel-footer col-md-12 pull-right">
            <div class="row pull-right">

                <a onclick="showMore('screen1')" class="btn hide previousButton" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                <a onclick="showMore('screen2')" class="btn nextButton" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next&nbsp;&nbsp;&nbsp;   </a>
                &nbsp;
            </div>
        </div>*@


}


<script type="text/javascript">
    //Note : this needs to be rewritten, during the real implemantation
    function ShowOtherElement(btn, objId) {

        objId = "#" + objId;
        if ($(objId).hasClass('hide')) {
            $(objId).removeClass("hide");
            $(btn).find('span').removeClass('glyphicon-plus-sign');
            $(btn).find('span').addClass('glyphicon-minus-sign');
        }
        else {
            $(objId).addClass("hide");
            $(btn).find('span').removeClass('glyphicon-minus-sign');
            $(btn).find('span').addClass('glyphicon-plus-sign');
        }

    }
    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });

    $('#HECCollaboratorContribution').change(function () {
        if ($('#HECCollaboratorContribution').val() == '-1') {
            $('.otherCollabContribution').removeClass('hide');
        }
        else {
            $('.otherCollabContribution').addClass('hide');
        }
    })
    $('#HECMyRole').change(function () {
        if ($('#HECMyRole').val() == '-1') {
            $('.otherRole').removeClass('hide');
        }
        else {
            $('.otherRole').addClass('hide');
        }
    })
    $('#HECResult').change(function () {
        if ($('#HECResult').val() == '-1') {
            $('.otherResult').removeClass('hide');
        }
        else {
            $('.otherResult').addClass('hide');
        }
    })
    $('#HECDiscussed').change(function () {
        if ($('#HECDiscussed').val() == '-1') {
            $('.otherDiscussed').removeClass('hide');
        }
        else {
            $('.otherDiscussed').addClass('hide');
        }
    })
    $('#HECActivityType').change(function () {
        if ($('#HECActivityType').val() == '-1') {
            $('.otherType').removeClass('hide');
        }
        else {
            $('.otherType').addClass('hide');
        }
    })

    function showMore(screen) {
        if (screen == 'screen1') {
            $('.screen2').addClass('hide')
            $('.screen1').removeClass('hide')
            $('.previousButton').addClass('hide')
            $('.nextButton').removeClass('hide')
            
        }
        else {
            $('.screen2').removeClass('hide')
            $('.screen1').addClass('hide')
            $('.previousButton').removeClass('hide')
            $('.nextButton').addClass('hide')
        }
    }

</script>
