﻿@model EWC_NSAA.Models.HECParticipant
@using EWC_NSAA.Common
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b>  Name</b> </h4>
                    @Html.EditorFor(model => model.HECParticipantFirstName, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "First Name" } })

                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <h4> <b>   &nbsp;</b> </h4>
                    @Html.EditorFor(model => model.HECParticipantLastName, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Last Name" } })
                </div>

            </div>


            <div class="col-lg-2">
                <div class="form-group">

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>  Race / Ethnicity</b> </h4>
                    @Html.DropDownListFor(model => model.HECParticipantRace, new SelectList(SelectListHelper.GetRacesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>  Language</b> </h4>
                    @Html.DropDownListFor(model => model.HECParticipantLanguage, new SelectList(SelectListHelper.GetLanguagesLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group ">
                    <h4> <b>  Birth Month/Year</b> </h4>
                    <div class="col-lg-2 row">
                        @Html.EditorFor(model => model.HECParticipantMonth, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM" } })
                    </div>
                    <div class="col-lg-3 row inc-width4">
                        @Html.EditorFor(model => model.HECParticipantYear, new { htmlAttributes = new { @class = "form-control", @placeholder = "YYYY" } })
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b> Address</b> </h4>
                    @Html.EditorFor(model => model.HECParticipantAddress1, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 1" } })
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <h4> <b>   &nbsp;</b> </h4>
                    @Html.EditorFor(model => model.HECParticipantAddress2, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "Address 2" } })
                </div>

            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <h4> <b>   City</b> </h4>
                    @Html.TextBoxFor(model => model.HECParticipantCity, htmlAttributes: new { @class = "form-control override-Width", @placeholder = "City" })
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <h4> <b>   Zip Code</b> </h4>
                    @Html.EditorFor(model => model.HECParticipantZip, new { htmlAttributes = new { @class = "form-control override-Width", @placeholder = "ZipCode" } })
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b> Telephone</b> </h4>

                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.HECParticipantTelNo, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength = 10 } })
                            @Html.ValidationMessageFor(model => model.HECParticipantTelNo, "", new { @class = "text-danger", maxlength = 10 })


                            <div class="col-xs-4 col-md-1">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>Type</b> </h4>

                    @Html.DropDownListFor(model => model.HECParticipantTelNoType, new SelectList(SelectListHelper.GetTelNoTypeLookup(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b>Email</b> </h4>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        @Html.EditorFor(model => model.HECParticipantEmail, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                        @Html.ValidationMessageFor(model => model.HECParticipantEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b> Ever had mam</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No/NS</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b> Last mam</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">< 2 years</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">> 2 years/NS</span>

                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>Has HI</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No</span>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">

                    <h4> <b>OK to contact</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>Ever had Pap</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No/NS</span>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="form-group">

                    <h4> <b>Last Pap</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">< 3 years</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">> 3 years/NS</span>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">

                    <h4> <b>EWC eligible</b> </h4>

                    <div class="form-group form-inline">

                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">Yes</span>

                        </div> &nbsp;
                        <div class="form-group">

                            <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                            <span class="content">No</span>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="content">
        <div class="form-group" style="width:100%">


            <div class="row pull-right">

                <a onclick="showMore('screen1')" class="btn previousButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  &nbsp;Previous   </a>
                <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>

                <a onclick="showMore('screen2')" class="btn nextButton" style="min-width: 120px; max-width: 120px; cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next  </a>
                &nbsp;
            </div>

        </div>
    </div>

}
