﻿@model EWC_NSAA.ViewModels.HECViewModel


<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row col-md-12">
        <!-- widget content -->
        <div class="widget-body margin24">
            <div class="row">
                <form id="wizard-1" novalidate="novalidate">
                    <div id="bootstrap-wizard-1" class="col-sm-12">
                        <div class="form-bootstrapWizard col-lg-11 col-lg-offset-4 text-center">
                            <ul class="bootstrapWizard form-wizard">
                                <li class="active" data-target="#step1">
                                    <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Activity</span> </a>
                                </li>
                                <li data-target="#step2" class="">
                                    <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Details</span> </a>
                                </li>
                                <li data-target="#step3" class="">
                                    <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title hecParticipant">Participant Info</span><span class="title hecCommunity">Community Event</span> </a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <br />
                        <div class="tab-content" style="margin-top:-90px">
                            <div class="panel panel-default margin30" id="tab1">
                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                    <div class="tab-pane active">
                                        @Html.Partial("HECActivity", Model.HECActivity)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab2">
                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane hecDetails">
                                        @Html.Partial("HECDetails", Model.HECDetails)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab3">
                                <div class="panel-body  col-md-12">
                                    <div class="tab-pane hecCommunity">
                                        @Html.Partial("HECCommunityEvents", Model.HECCommunityEvents)
                                    </div>
                                    <div class="tab-pane hecParticipant">
                                        @Html.Partial("HECParticipant", Model.HECParticipant)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*<div class="content">
            <div class="form-group" style="width:100%">

                <div class="pull-right">
                    <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>
                    <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-right"></span>  &nbsp;Next </a>
                   


                </div>
            </div>
        </div>*@
        <br />
        <br />
        <!-- end widget content
           </div>
        -->
        <!-- end widget div -->
    </div>

    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.hecClass').addClass('hide');
        $('.hecCommunity').addClass('hide');
    })
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicossn-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }

    });
    $(':checkbox').change(function (e) {
        if (e.originalEvent.path[0].id == 'hecClass' && this.checked) {
            $('.hecClass').addClass('hide');
            $('.hecCommunity').addClass('hide');
            $('.hecParticipant').removeClass('hide');
        }
        else {
            $('.hecClass').removeClass('hide');
        }
        if (e.originalEvent.path[0].id == 'outreach' && this.checked) {
            $('.hecCommunity').addClass('hide');
            $('.hecParticipant').removeClass('hide');
            $('.outreach').addClass('hide');
        }
        else {
            $('.outreach').removeClass('hide');
        }
        if (e.originalEvent.path[0].id == 'community' && this.checked) {
            $('.hecCommunity').removeClass('hide');
            $('.hecParticipant').addClass('hide');
            $('.community').addClass('hide');
        }
        else {
            $('.community').removeClass('hide');
        }
    });


    $(document).ready(function () {
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');

    })

    function showHideTab(currentTab, previous) {
        
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
            }
        }

    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {

            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }


        return true;
    }
</script>
