﻿
@{
    ViewBag.Title = " Enrollment";
}


<div class="content">
    <div class="form-group" style="width:100%">

        <div class="pull-right">
            <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-search"></span>&nbsp;  Search </a>
          
        </div>
    </div>
</div>
<br /><br />
    <table class="table table-sm">
        <tr style="background-color:#cb343c; font-size:16PX">

            <td style="text-align:center">

                <span style="color:lightyellow">
                    <b> REGION </b><br />
                </span>1
            </td>


            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        NPI
                    </b><br />
                </span> <b>##########</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        BUSINESS NAME
                    </b><br />
                </span><b>  Mom & Pop Clinic</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        ADDRESS 1
                    </b><br />
                </span> <b> 2407 High Street</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        ADDRESS 2
                    </b><br />
                </span><b>Ste 4</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        CITY
                    </b><br />
                </span><b> Sacramento</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        ZIP CODE
                    </b><br />
                </span><b> 95815</b>
            </td>
            <td style="text-align:center">
                <span style="color:lightyellow">
                    <b>
                        EWC ES
                    </b><br />
                </span><b>  Enrolled</b>
            </td>




        </tr>
        <tr style="background-color:#cb343c; font-size:16PX">

            <td style="text-align:center">


                <span style="color:lightyellow">
                    <b>
                        OWN
                    </b><br />
                </span><b> ##</b>
            </td>
            <td style="text-align:center">


                <span style="color:lightyellow">
                    <b>
                        LOC
                    </b><br />
                </span><b>  ###</b>
            </td>
            <td style="text-align:center">


                <span style="color:lightyellow">
                    <b>
                        TELEPHONE NUMBER
                    </b><br />
                </span><b>   (9160 ###-####)</b>
            </td>

            <td colspan="3" style="text-align:center">


                <span style="color:lightyellow">
                    <b>
                        E-MAIL
                    </b><br />
                </span><b> momandpopClinica@momandpop.com</b>
            </td>
            <td colspan="3" style="text-align:center">


                <span style="color:lightyellow">
                    <b>
                        WEBSITE
                    </b>  <br />
                </span><b>  www.MomandPop.com</b>
            </td>


        </tr>
       
    </table>

    <div class="panel panel-primary">


        <div class="panel-body" style="border-color:darkgray">
            <div class="row">

                <div class="col-md-3">
                    <h4> <b> Recruitment Visit</b> </h4>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4> <b> Training Visit</b> </h4>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4> <b> Training Follow Up</b> </h4>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <text class="form-control" placeholder="" required></text>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content"> &nbsp; Provider Profile Completed</span>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Provider sent PCPEA to CC</span>

                    </div>


                </div>

                <div class="col-md-4">
                    <div class="form-group">

                        <a href="#" class="btn btn-success btn-block" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff Trained&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>


                    </div>


                </div>
            </div>

            <div class="row">


                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Provider mailed PCPEA to PSU</span>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Complete Provider Survey</span>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <a href="#" class="btn btn-success btn-block" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;Sign-in sheet Uploaded&nbsp;</a>


                    </div>


                </div>
            </div>
        </div>



        <div class="panel-body">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content"> &nbsp; Enrollment Completed</span>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Provider Enrollment on Hold</span>

                    </div>


                </div>


            </div>

            <div class="row">


                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Training Completed</span>

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off">
                        <span class="content"> &nbsp; Provider withdrew application</span>

                    </div>


                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">


                        <h4> <b> Notes</b> </h4>

                        <textarea class="form-control" rows="3" placeholder="" required></textarea>
                    </div>


                </div>
            </div>
        </div>




    </div>
    <div class="content">
        <div class="form-group" style="width:100%">

            <div class="pull-right">
                <a onclick="" class="btn" id="back-step" style="min-width: 120px; max-width: 120px;   cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  &nbsp;Home </a>
                <a href="#" class="btn btn-success" style="min-width: 120px; max-width: 120px;   background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"><span class="glyphicon glyphicon-floppy-save"></span>  &nbsp;Save</a>


            </div>
        </div>
    </div>
    <br />
    <br />
