﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Every Woman Counts - Navigation Services</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Bootstrapwizard.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <style id="antiClickjack">
        body {
            display: none !important;
            font-family: FiraSans-Light;
            font-size: 18px;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
    <style>
        ul li {
            display: inline;
        }

        img {
            vertical-align: top !important;
        }

    </style>
</head>
<body style="padding-top: 50px;padding-bottom: 20px;">
    <div class="navbar navbar-default navbar-fixed-top darkblackbg" @*style="border-bottom: none;"*@>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <span class="icon-bar">
                        <img src="~/Images/CHEER.PNG" />
                        @*<span style="color:white;line-height:2;font-weight:bold;font-size:24px;font-family: FiraSans-Light;">CHEER</span>*@
                    </span>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-bottom: -7px;">
                    <li class="dashbaordbg nav-item" style="width:110px">
                        <a href="@Url.Action("Dashboard", "Home")" class="nav-item nav-link">
                            Dashboard
                        </a>&nbsp;
                    </li>


                    <li class="hecactivitiesbg nav-item" style="width:105px">
                        <a href="@Url.Action("HECDashboard", "Home")" class="nav-item nav-link">
                               HEC Activities
                            </a>
                    </li>



                    <li style="width:105px;height:57px;" class="clinicalservices nav-item">
                        <a class="nav-item nav-link" href="@Url.Action("clinicalservices", "Barriers")">
                            Clinical Services
                        </a>
                    </li>


                    <li style="color:white;width:105px;height:57px;" class="navigationservices nav-item">
                        <a href="@Url.Action("Index", "Enrollment")" class="nav-item nav-link">
                            Navigation Services
                        </a>
                    </li>

                    <li style="width:105px;height:57px;" class="regionalresources nav-item">
                        <a href="@Url.Action("RegionalResources", "Home")" class="nav-item nav-link">
                            Regional Resources
                        </a>
                    </li>          
                                        
                </ul>
                <div class="pull-right">
                    <span style="font-weight:bold;font-size:18px;">
                        <a href="@Url.Action("ProfileCreate", "Home")" style="color:white;font-size: 18px;">
                            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size :24px;margin-left: 34px; "></i><br> JANE SMITH
                        </a>
                    </span>
                </div>
            </div>
           

        </div>
    </div>

    <div class="row" style="margin-top: 0px;height: 100px; margin-bottom: 50px;background-color: rgb(0, 150, 136); background-repeat:repeat-x;" id="selectedHeading">
        <div class="container">
            <div class="row">
                <span style="color:white;font-size:28px; position:absolute; padding-left: 14px;line-height: 3;" id="selectedSpan">
                </span>
                <div class="col-md-3 pull-right mainsearch" style="margin-top:20px">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content" style="background-color: #fff; width: fit-content; margin-top: -76px;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
        <div class="partialmainbody" style="background-color: #fff;">
            <div class="container">
            @RenderBody()
        </div>
            </div>
        <footer></footer>
    </div>
    <script>


        $(document).ready(function () {
            //--

            var location = window.location.href;

            
         if (location.toLowerCase().lastIndexOf('pcpenrollment/index') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Survey</font>');
         }

         

         else if (location.toLowerCase().lastIndexOf('pcpassistance/index') != -1) {
             $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Assistance</font>');
         }
         else if (location.toLowerCase().lastIndexOf('pcpassistance/create') != -1) {
             $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Assistance</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/dashboard') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font>');
         }
         else if (location.toLowerCase().lastIndexOf('instantmessage/inbox') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Instant Messages</font>');
         }
         else if (location.toLowerCase().lastIndexOf('instantmessage/composemail') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Instant Messages</font>');
         }
         else if (location.toLowerCase().lastIndexOf('instantmessage/sendmail') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Instant Messages</font>');
         }
         else if (location.toLowerCase().lastIndexOf('instantmessage/systemmessages') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Instant Messages</font>');
         }

         else if (location.toLowerCase().lastIndexOf('home/hecdashboard') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">HEC Activities</font>');
         }
             

         else if (location.toLowerCase().lastIndexOf('hecactivities') != -1) {
            
             $('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">HEC Activities > Create</font>');
         }
         else if (location.toLowerCase().lastIndexOf('partnerscollaborators/partnerscollaboratorlist') != -1) {

             //$('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Partners & Collaborators</font>');
         }

         else if (location.toLowerCase().lastIndexOf('home/SearchProvider') != -1) {

             //$('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Search Provider</font>');
         }

         else if (location.toLowerCase().lastIndexOf('partnerscollaborators/create') != -1) {

             //$('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Partners & Collaborators</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/createmodifynetworking') != -1) {

             //$('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Networking</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/searchactivity') != -1) {             
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Search Activity</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/searchprovider') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px"> Search Provider</font>');
         }
             //Home/SearchActivity
             //SearchProvider

         else if (location.toLowerCase().lastIndexOf('home/regionalresources') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(231, 154, 47)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Regional Resources</font>');
         }
          
        
           else if (location.toLowerCase().lastIndexOf('enrollment/index2') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
            }
          else  if (location.toLowerCase().lastIndexOf('enrollment/index') != -1) {

                $('#selectedHeading').css('background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Navigation Services');
          }
          else if (location.toLowerCase().lastIndexOf('pcpenrollment/management') != -1) {

              $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
              $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Management</font>');
          }
          else if (location.toLowerCase().lastIndexOf('pcpenrollment/preenrollment') != -1) {
             
              $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
              $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Pre Enrollment</font>');
          }
          else if (location.toLowerCase().lastIndexOf('pcpenrollment/enrollment') != -1) {
              $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
              $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Enrollment</font>');
          }
          else if (location.toLowerCase().lastIndexOf('sitevisit') != -1) {
             
              $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
              $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Site Visit</font>');
          }
            else if (location.toLowerCase().lastIndexOf('enrollment') != -1) {
               
                $('#selectedHeading').css('background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Enrollment</span>');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#009688');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Assesment</span>');

            }
            else if (location.toLowerCase().lastIndexOf('barriers/clinicalservices') != -1) {
                    $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Clinical Services');
            }
            


            else if (location.toLocaleLowerCase().lastIndexOf('/home/profilecreate') != -1) {
                $('#selectedHeading').css('background-image', 'url(/Images/dark-black-bg.png)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">My Profile </font> ');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('/InstantMessage/Inbox') != -1) {
                $('#selectedHeading').css('background-image', 'url(/Images/dark-black-bg.png)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Inbox </font> ');
            }
            //

        })

        function navigationClick() {
           
            var location = window.location.href;
            if (location.toLowerCase().lastIndexOf('enrollment/index2') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
            }

            else if (location.toLowerCase().lastIndexOf('home/dashboard') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('PartnersCollaborators/PartnersCollaboratorList') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(0,150,72)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/SearchProvider') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(0,150,72)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('PartnersCollaborators/Create') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(0,150,72)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/CreateModifyNetworking') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(0,150,72)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Networking</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/hecactivities') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">HEC Activities > Create</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/regionalresources') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(231, 154, 47)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Regional Resources</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('pcpenrollment/index') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Survey</font>');
            }

            else if (location.toLowerCase().lastIndexOf('pcpenrollment/management') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Management</font>');
            }
            else if (location.toLowerCase().lastIndexOf('pcpenrollment/preenrollment') != -1) {
               
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Pre Enrollment</font>');
            }
            else if (location.toLowerCase().lastIndexOf('pcpenrollment/enrollment') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Enrollment</font>');
            }
            else if (location.toLowerCase().lastIndexOf('sitevisit') != -1) {
                
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Site Visit</font>');
            }

            else if (location.toLowerCase().lastIndexOf('pcpassistance/index') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP ASSistance</font>');
            }
            else if (location.toLowerCase().lastIndexOf('pcpassistance/create') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP ASSistance</font>');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('enrollment/index') != -1) {
                //$('#selectedHeading').css('.menuNS-bg');
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Navigation Services');
            }
         

            else if (location.toLowerCase().lastIndexOf('enrollment') != -1) {
                alert(2);
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">Enrollment</font>');
            }
            else if (location.toLowerCase().lastIndexOf('barriers/clinicalservices') != -1) {

                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Clinical Services');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#009688');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Assesment</span>');
            }
                //else if (location.toLowerCase().lastIndexOf('enrollment/index2') != -1) {
                //    $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                //    $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
                //}
            else if (location.toLowerCase().lastIndexOf('profileCreate') != -1) {
                $('#selectedHeading').css('background-color', 'black');
                $('#selectedSpan').html('My Profile');
            }
            else if (location.toLowerCase().lastIndexOf('instantmessage/inbox') != -1) {
                alert(1);
                $('#selectedHeading').css('background-color', 'blue');
                $('#selectedSpan').html('Inbox');
            }

        }

        $(document).ready(function () {
            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });

        $(function () {

            var links = $('.sidebar-links > a');

            links.on('click', function () {

                links.removeClass('selected');
                $(this).addClass('selected');

            })
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
